.parallax {
    background-image: url('https://wallpaperaccess.com/full/3014121.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto {
    font-size: 12pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.titulo{
    letter-spacing: .2rem;
    font-size: 14pt;
    font-family: 'Roboto Condensed', sans-serif;
}